In [1]:
import pandas as pd

In [79]:
df = pd.DataFrame({'Letter': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B'],
                   'Animal': ['Falcon', 'Falcon','Parrot', 'Parrot', 'Parrot', 'Test', 'Test2', 'Test3'],
                   'Max Speed': [380., 370., 24., 26., 26, 10, 2000, 3000]})
df

  Letter  Animal  Max Speed
0      A  Falcon      380.0
1      A  Falcon      370.0
2      A  Parrot       24.0
3      A  Parrot       26.0
4      A  Parrot       26.0
5      B    Test       10.0
6      B   Test2     2000.0
7      B   Test3     3000.0

In [80]:
grouped_df = df.groupby(['Letter'])
df["max_column"] = grouped_df['Max Speed'].transform(max)
df

  Letter  Animal  Max Speed  max_column
0      A  Falcon      380.0       380.0
1      A  Falcon      370.0       380.0
2      A  Parrot       24.0       380.0
3      A  Parrot       26.0       380.0
4      A  Parrot       26.0       380.0
5      B    Test       10.0      3000.0
6      B   Test2     2000.0      3000.0
7      B   Test3     3000.0      3000.0

In [82]:
t1 = df.groupby(['Letter', 'Animal']).mean().sort_values(by='max_column', ascending=False)
t1

                 Max Speed  max_column
Letter Animal
B      Test      10.000000      3000.0
       Test2   2000.000000      3000.0
       Test3   3000.000000      3000.0
A      Falcon   375.000000       380.0
       Parrot    25.333333       380.0